@import "../global/variables";
@import "../global/mixins";

#atl-global-wrapper {
  #atl-hero {
    width: 100%;
    max-height: 548px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    .inner-wrapper {
      max-width: 990px;
      width: 100%;
      margin: 0 auto;

      @media (min-width: 768px) {
        padding: 0;
        padding-bottom: 40%;
      }

      .text-fragments {
        width: 100%;
        height: 350px;
        display: flex;

        @media (min-width: 768px) {
          max-width: 990px;
          height: 80vh;
          position: absolute;
          top: 0;
          left: auto;
          right: auto;
        }

        .fragment {
          position: absolute;
          font-family: $proximanova;
          font-style: normal;
          font-weight: 700;
          font-size: calc(max(min(5vw, 50px), 28px));
          line-height: 1;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: $true-white;

          &.scaling {
            top: 30px;
            left: calc(max(min(12vw, 130px), 30px));
          }

          &.trust {
            top: 80px;
            left: 60vw;
            color: $blue;
          }

          &.on {
            top: 115px;
            left: 8vw;
          }

          &.the {
            top: 160px;
            left: 19vw;
          }

          &.web {
            top: 200px;
            left: 70vw;
          }

          @media (min-width: 768px) {

            &.scaling {
              top: calc(max(min(5vw, 65px), 30px));
              left: calc(max(min(12vw, 130px), 30px));
            }

            &.trust {
              top: calc(max(min(10vw, 120px), 30px));
              left: calc(max(min(41vw, 465px), 30px));
            }

            &.on {
              top: calc(max(min(18vw, 245px), 30px));
              left: calc(max(min(6vw, 60px), 30px));
            }

            &.the {
              top: calc(max(min(22vw, 290px), 30px));
              left: calc(max(min(15vw, 168px), 30px));
            }

            &.web {
              top: calc(max(min(25vw, 345px), 30px));
              left: calc(max(min(60vw, 777px), 30px));
            }
          }
        }
      }

      .bottom-link {
        position: absolute;
        bottom: 0;
        max-width: 990px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0 22px 15px;

        @media (min-width: 992px) {
          bottom: 15px;
        }

        span {
          background: $blue;
          display: inline-block;
          font-family: $proximanova;
          font-style: normal;
          font-weight: 600;
          font-size: calc(max(min(2.6vw, 22px), 14px));
          line-height: calc(max(min(2.6vw, 25.5px), 14px));
          letter-spacing: 0.1em;
          font-variant: all-small-caps;
          color: $true-black;
          text-align: center;
          padding: 10px 15px;

          a {
            color: $true-black;
            text-decoration: none;
            border-bottom: 1px solid $true-black;

            &:hover {
              opacity: 0.75;
            }
          }
        }
      }
    }

    &.annex {
      .inner-wrapper {
        max-width: 100%;

        @media (min-width: 768px) {
          height: initial;
          padding: 0;
        }

        .hero-caption {
          max-width: 990px;
          margin: 0 auto;
          padding-top: 30px;

          @media (min-width: 768px) {
            padding-top: 75px;
          }

          .trust-link,
          .annex-num {
            font-family: $proximanova;
            font-style: normal;
            font-weight: 700;
            font-size: calc(max(min(2.6vw, 22px), 14px));
            line-height: calc(max(min(2.6vw, 25.5px), 14px));
            display: inline-block;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            padding: 10px;
            background: $blue;
            color: $true-black;
            margin-bottom: 8px;

            @media (min-width: 768px) {
              font-size: 20px;
              line-height: 22px;
            }
          }

          .trust-link a{
            color: $true-black;
            text-decoration: underline;

            &:hover {
              opacity: 0.75;
            }
          }

          h1 {
            font-family: $proximanova;
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 35px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: $true-white;
            margin: 20px 0 0;

            @media (min-width: 768px) {
              font-size: 28px;
              line-height: 48px;
              margin: 45px 0 0;
            }

            @media (min-width: 992px) {
              font-size: 38px;
              line-height: 58px;
            }
          }
        }

        .bottom-link {
          max-width: 100%;
          bottom: 0;
          padding: 0 0 15px;
          display: block;
          position: relative;
          margin-top: 60px;

          @media (min-width: 768px) {
            margin-top: 100px;
          }

          span {
            max-width: 100%;
          }
        }
      }
    }
  }
}