// Colors
$true-white: #fff;
$true-black: #000;
$true-gray: #ccc;

$black: #333333;
$blue: #00FFFF;

// Header
$header-height: 81px;
$search-height: 83px;

// Audio Player
$audio-player-height: 72px;

$ibm-plex-mono: 'IBM Plex Mono', monospace;
$proximanova: 'Proxima Nova', sans-serif;
$proximanova-extra-cond: "proxima-nova-extra-condensed", sans-serif;
